<div class="login-container">
  <div class="login-box">
    <div class="logo">
      
    </div>

    <form class="login-form" (ngSubmit)="fazerLogin()">
      <div class="form-group">
        <label for="username">Usuário</label>
        <input 
          type="text" 
          id="username" 
          [(ngModel)]="login.username" 
          name="username" 
          placeholder="Nome de usuário"
          [class.input-error]="errorMessage"
        >
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input 
          type="password" 
          id="password" 
          [(ngModel)]="login.password" 
          name="password" 
          placeholder="Senha"
          [class.input-error]="errorMessage"
        >
      </div>

      <!-- Mensagem de erro -->
      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <button type="submit" class="btn-entrar">Entrar</button>
    </form>
  </div>
</div>
