<div class="checklist-container">
  <!-- Cabeçalho -->
  <div class="page-header">
    <h2>Checklist</h2>
    <div class="box-button">
      <button class="btn" (click)="voltarElevador()">Voltar para elevador</button>
      <button class="btn btn-primary" (click)="gerarRelatorio()">Gerar relatório</button>
      <button class="btn btn-add" (click)="abrirModalParaCadastro()">Adicionar Componente</button>
    </div>
  </div>

  <!-- Tabela de componentes -->
  <div class="table-responsive">
    <table class="componente-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Situação</th>
          <th>Imagem</th>
          <th>Observação</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let componente of componentes">
          <td>{{ componente.nome }}</td>
          <td>
            <span class="status-label" [ngClass]="'status-' + (componente.situacao || '')">
              {{ componente.situacao }} </span>
          </td>
          <td>
            <img *ngIf="componente.imagemBase64" [src]="componente.imagemBase64" alt="Imagem do componente" class="component-image">
          </td>
          <td>{{ componente.observacao ? componente.observacao : "Não há observação"}}</td>
          <td>
            <div class="card-actions">
              <mat-icon class="icon-button edit-icon" (click)="abrirModalParaEdicao(componente); $event.stopPropagation()">edit</mat-icon>
              <mat-icon class="icon-button delete-icon" (click)="deletarComponente(componente.id); $event.stopPropagation()">delete</mat-icon>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- MODAL -->
  <div class="modal-overlay" *ngIf="isModalOpen">
    <div class="modal-content">
      <div class="form-card">
        <div class="form-title">
          <h3>{{ isEditingMode ? 'Editar Componente' : 'Adicionar Novo Componente' }}</h3>
          <button class="close-button" (click)="fecharModal()">×</button>
        </div>

        <div class="form-content">
          <!-- Nome -->
          <div class="input-group">
            <label for="nome-modal">Nome:</label>
            <input type="text" id="nome-modal" placeholder="Insira o nome" [(ngModel)]="componenteRequest.nome" class="text-input" name="nomeModal">
          </div>

          <!-- Situação (radio buttons) -->
          <div class="input-group radio-group">
            <label>Situação:</label>
            <div class="radio-options-container">
              <label class="radio-option">
                <input type="radio" name="situacaoModal" [(ngModel)]="componenteRequest.situacao" value="APROVADO">
                <span>Aprovado</span>
              </label>
              <label class="radio-option">
                <input type="radio" name="situacaoModal" [(ngModel)]="componenteRequest.situacao" value="REPROVADO">
                <span>Reprovado</span>
              </label>
              <label class="radio-option">
                <input type="radio" name="situacaoModal" [(ngModel)]="componenteRequest.situacao" value="SIM">
                <span>Sim</span>
              </label>
              <label class="radio-option">
                <input type="radio" name="situacaoModal" [(ngModel)]="componenteRequest.situacao" value="NAO">
                <span>Não</span>
              </label>
              <label class="radio-option">
                <input type="radio" name="situacaoModal" [(ngModel)]="componenteRequest.situacao" value="NAO_SE_APLICA">
                <span>Não se aplica</span>
              </label>
            </div>
          </div>

          <!-- Observação -->
          <div class="input-group">
            <label for="observacao-modal">Observação:</label>
            <input type="text" id="observacao-modal" placeholder="Insira a observação" [(ngModel)]="componenteRequest.observacao" class="text-input" name="observacaoModal">
          </div>

          <!-- Imagem -->
          <div class="input-group">
            <label for="imagem-modal">Imagem:</label>
            <input type="file" id="imagem-modal" (change)="arquivoSelecionado($event)" class="file-input">
            <img *ngIf="currentImageBase64" [src]="currentImageBase64" alt="Imagem atual" class="modal-current-image">
          </div>

          <!-- Padrão -->
          <div class="input-group radio-group">
            <label>Padrão:</label>
            <div class="radio-options-container">
              <label class="radio-option">
                <input type="radio" name="padraoModal" [(ngModel)]="componenteRequest.hePadrao" [value]="true">
                <span>Padrão</span>
              </label>
              <label class="radio-option">
                <input type="radio" name="padraoModal" [(ngModel)]="componenteRequest.hePadrao" [value]="false">
                <span>Não padrão</span>
              </label>
            </div>
          </div>

          <!-- Botão salvar -->
          <button type="button" class="btn btn-accent" (click)="salvarFormulario()">
            {{ isEditingMode ? 'Salvar Edição' : 'Cadastrar' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
