<app-header [tipo]="'elevador'" (cadastrar)="abrirModalElevador()"></app-header>

<div class="modal" [ngClass]="{'open': isModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="isModalOpen = false">&times;</span>
    <h2>Cadastrar Prédio</h2>
    <form>
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" [(ngModel)]="elevador.modelo" required>
      </div>
      <div class="form-actions">
        <button type="button" mat-raised-button color="primary" (click)="submitForm()">Cadastrar</button>
        <button type="button" class="close-button" (click)="isModalOpen = false">Fechar</button>
      </div>
    </form>
  </div>
</div>

<div class="elevadores-page-container">
  <h2>Elevadores</h2> 

  <div *ngIf="elevadoresDoPredio && elevadoresDoPredio.length > 0; else noElevadores" class="elevadores-list-container">
    <mat-card *ngFor="let elevador of elevadoresDoPredio" class="elevador-card">
      <mat-card-content (click)="selecionarElevador(elevador.id)">
        <p><strong>ID:</strong> {{ elevador.id }}</p>
        <p><strong>Modelo:</strong> {{ elevador.modelo }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-template #noElevadores>
    <p>Este prédio não possui elevadores cadastrados ou houve um erro ao carregar.</p>
  </ng-template>

  <button mat-raised-button color="primary" routerLink="/predios">Voltar para Prédios</button>
</div>