<!-- <app-header [tipo]="'predio'" (cadastrar)="abrirModalParaCadastro()"></app-header> -->
<div class="modal" [ngClass]="{'open': isModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="fecharModal()">&times;</span>
    
    <h2>{{ predio.id ? 'Atualizar Prédio' : 'Cadastrar Prédio' }}</h2>
    <form>
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" [(ngModel)]="predio.nome" required>
      </div>

      <div class="form-group">
        <label for="bairro">Bairro:</label>
        <input type="text" name="bairro" [(ngModel)]="predio.bairro" required>
      </div>

      <div class="form-actions">
        
        <button type="button" mat-raised-button color="primary" (click)="submitForm()">
          {{ predio.id ? 'Atualizar' : 'Cadastrar' }}
        </button>
        <button type="button" class="close-button" (click)="fecharModal()">Fechar</button>
      </div>
    </form>
  </div>
</div>

<div class="predios-container">
  <div class="header">
    <img src="/icon-add.png" alt="Adicionar Predio" class="icon-add" (click)="abrirModalParaCadastro()">
  </div>
  <mat-card *ngFor="let predio of predios"
            class="predio-card"
            [class.selected]="predio.id === selectedPredioId">
    <mat-card-content (click)="selecionarPredio(predio.id)">
      <h3>{{ predio.nome }}</h3>
      <p>{{ predio.bairro }}</p>
      <p *ngIf="predio.elevadores && predio.elevadores.length > 0">
        Elevadores: {{ predio.elevadores.length }}
      </p>
      <p *ngIf="!predio.elevadores || predio.elevadores.length === 0">
        Nenhum elevador cadastrado.
      </p>
    </mat-card-content>

    <div class="card-actions">
      <mat-icon class="icon-button edit-icon" (click)="abrirModalParaEdicao(predio); $event.stopPropagation()">edit</mat-icon>
      <mat-icon class="icon-button delete-icon" (click)="deletarPredio(predio.id); $event.stopPropagation()">delete</mat-icon>
    </div>
  </mat-card>

  <div *ngIf="!predios || predios.length === 0" class="no-predios-message">
    <p>Nenhum prédio encontrado ou houve um erro ao carregar.</p>
    
  </div>
</div>